/*estilo de fuente*/
@font-face {
    font-family: "dementor";
    src: url("../fuentes/DEMENTOR.TTF");
}
@font-face {
    font-family: "proximaNova";
    src: url("../fuentes/ProximaNovaFont.otf");
}