/*---estilo de nosotros---*/

.presentacion {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size:18px; 
    font-family: 'Tenor Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;

    border-top: 1px solid #979784;
    border-bottom: 1px solid #979784;;
    border-radius: 8px;

    margin-top: 80px;
    
    padding-top: 2rem;
    padding-bottom: 2rem;

}


img{
 max-width: 100%;
 display: block;
}